alias s="source ~/.zshrc"
alias python="python3"

# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

#tmux
alias tmux="tmux -2"

#proxy
alias proxyon="export http_proxy='http://naproxy.gm.com';export https_proxy='https://naproxy.gm.com'"
alias proxyoff="export http_proxy='';export https_proxy=''"

# Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias h="history"

##### Adobe CQ ######
alias gotoauthor="cd ~/adobe/author"
alias gotopublisher="cd ~/adobe/publisher"
alias startauthor="gotoauthor; java -jar $JAVA_OPTIONS -Xdebug -Xnoagent cq-author-4502.jar -nofork -gui"
alias startauthorDebug='gotoauthor; java $JAVA_OPTIONS -Xdebug -agentlib:jdwp=transport=dt_socket,address=30303,suspend=n,server=y -javaagent:/Users/hzbhyl/Library/Caches/IntelliJIdea2016.1/groovyHotSwap/gragent.jar -Dorg.apache.sling.commons.log.level=DEBUG -Xnoagent -jar cq-author-4502.jar -verbose | sed -e "s/Listening \(.*\)/`tput setaf 5` Listening \1`tput sgr0` /g"'
alias startpublish="gotopublisher; java -jar $JAVA_OPTIONS -Xdebug -Xnoagent cq-publish-4503.jar -gui"
alias startpublishDebug="gotopublisher; java $JAVA_OPTIONS -Xdebug -agentlib:jdwp=transport=dt_socket,address=30305,suspend=n,server=y -javaagent:/Users/hzbhyl/Library/Caches/IntelliJIdea2016.1/groovyHotSwap/gragent.jar -Xnoagent -jar cq-publish-4503.jar -verbose"

# programs
alias st='open -a "Sublime Text"'
alias preview="open -a '$PREVIEW'"
alias xcode="open -a '/Developer/Applications/Xcode.app'"
alias filemerge="open -a '/Developer/Applications/Utilities/FileMerge.app'"
alias safari="open -a safari"
alias firefox="open -a firefox"
alias opera="open -a opera"
alias chrome="open -a google\ chrome"
alias chromium="open -a chromium"
alias dashcode="open -a dashcode"
alias f='open -a Finder'
alias photoshop="open -a '/Applications/Adobe Photoshop CS6/Adobe Photoshop.app'"
alias nom="rm -rf node_modules && npm cache clear && npm i"

# List ALL files (colorized() in long format, show permissions in octal
alias la="ls -l | awk '
{
  k=0;
  for (i=0;i<=8;i++)
    k+=((substr(\$1,i+2,1)~/[rwx]/)*2^(8-i));
  if (k)
    printf(\"%0o \",k);
  printf(\" %9s  %3s %2s %5s  %6s  %s %s %s\n\", \$3, \$6, \$7, \$8, \$5, \$9,\$10, \$11);
}'"

alias k5="kill -9 %%"

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

# List all files colorized in long format
alias l="ls -l ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -la ${colorflag}"

# List only directories
alias lsd='ls -l | grep "^d"'

# List only hidden files
alias lsh='ls -la | grep "^\."'

#https://www.reddit.com/r/webdev/comments/4ridy1/most_used_commands_on_your_shell/
#alias mcmd ="cat ~/.zsh_history|cut -d \';\' -f 2- 2>/dev/null| awk \'{a[$1]++ } END{for(i in a){print a[i] " " i}}\'|sort -rn|head"

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Always use color output for `ls`
if [[ "$OSTYPE" =~ ^darwin ]]; then
	alias ls="command ls -G"
else
	alias ls="command ls --color"
	export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
fi

if [[ "$OSTYPE" =~ ^darwin ]]; then

	# Hide/Show desktop icons
	alias hide-desktop-icons='defaults write com.apple.finder CreateDesktop -bool false && killall Finder'
    alias show-desktop-icons='defaults write com.apple.finder CreateDesktop -bool true && killall Finder'

    # Hide/Show hidden files in Finder
    alias hide-hidden-files='defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder'
    alias show-hidden-files='defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder'

elif [ "$OS" = 'ubuntu' ]; then

	Hide/Show desktop icons
	alias hide-desktop-icons='gsettings set org.gnome.desktop.background show-desktop-icons false'
	alias show-desktop-icons='gsettings set org.gnome.desktop.background show-desktop-icons true'

fi

##### npm #####
alias npmp="sudo npm publish"
alias npma="sudo npm adduser"
alias npmi="sudo npm install"
alias npmg="sudo npm install -g"
alias npmu="sudo npm update"
alias npmr="sudo npm uninstall"
alias npmrg="sudo npm uninstall -g"

# npm offline
# install npm dependencies from cache
# https://github.com/npm/npm/issues/2568#issuecomment-30626394
alias npmo="sudo npm install --cache-min 999999999"

# Update

if [[ "$OSTYPE" =~ ^darwin ]]; then

    alias update='sudo softwareupdate --install --all \
                   && brew update \
                   && brew upgrade --all \
                   && brew cleanup \
                   && npm install -g npm \
                   && npm update -g'

elif [ "$OS" = 'ubuntu' ]; then

    alias update='sudo apt-get update \
                   && sudo apt-get upgrade \
                   && npm install -g npm \
                   && npm upgrade -g'

fi

# OS specific package managers

##### npm #####

if [[ "$OSTYPE" =~ ^darwin ]]; then

    # Homebrew
    if command -v 'brew' &> /dev/null; then
        alias brewd='brew doctor'
        alias brewi='brew install'
        alias brewr='brew uninstall'
        alias brews='brew search'
        alias brewu='brew update \
                      && brew upgrade --all \
                      && brew cleanup \
                      && brew cask cleanup'
    fi

elif [ "$OS" = 'ubuntu' ]; then

    # Advanced Packaging Tool
    alias apti='sudo apt-get install'
    alias aptr='sudo apt-get remove'
    alias apts='sudo apt-cache search'
    alias aptu='sudo apt-get update \
                 && sudo apt-get upgrade'

fi

# `cat` with beautiful colors. requires Pygments installed.
# sudo easy_install Pygments
alias c='pygmentize -O style=monokai -f console256 -g'

##### GIT Stuff #####
alias gg="cd ~/Github"
alias g="git"
alias gpom="git push origin master"

# git root
alias gr='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`'

##### GIT Stuff #####

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Canonical hex dump; some systems have this symlinked
#type -t hd > /dev/null || alias hd="hexdump -C"

# OS X has no `md5sum`, so use `md5` as a fallback
#type -t md5sum > /dev/null || alias md5sum="md5"

##### Vim ######
alias vim="/usr/local/Cellar/vim/8.0.0101/bin/vim"
alias v="vim"
alias mvim="open -a /Applications/MacVim.app/ $1"

alias j="jump"

# File size
alias fs="stat -f \"%z bytes\""

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

####### Clean Up ########

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
#alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

if [[ "$OSTYPE" =~ ^darwin ]]; then

	# Empty the trash, the main HDD and on all mounted volumes
	# and clear Apple’s system logs to improve shell startup speed

	alias empty-trash='sudo rm -frv /Volumes/*/.Trashes; \
					   sudo rm -frv ~/.Trash; \
					   sudo rm -frv /private/var/log/asl/*.asl; \
					   sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* "delete from LSQuarantineEvent"'

fi

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

####### Clean Up ########

alias rmf="rm -rf"

# Trim new lines and copy to clipboard
alias tt="tr -d '\n' | pbcopy"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"

# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "$method"="lwp-request -m '$method'"
done

# Make Grunt print stack traces by default
command -v grunt > /dev/null && alias grunt="grunt --stack"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"
