{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es2024": true,
    "node": true
  },
  "parserOptions": {
  "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "indent": [2, 2],
    "max-len": ["error", 120, {
      "ignoreComments": true,
      "ignoreUrls": true,
      "tabWidth": 4
    }],
    "no-unused-vars": ["error", {
      "vars": "all",
      "args": "after-used",
      "argsIgnorePattern": "(^reject$|^_$)",
      "varsIgnorePattern": "(^_$)"
    }],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}
