#!bash

export EDITOR="nvim"  # Make neo vim the default editor
export VISUAL="nvim"
export MANPAGER="less -X" # Don’t clear the screen after quitting a manual page

# Prefer US English and use UTF-8
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# history
export HISTFILESIZE=32768
export HISTCONTROL=ignoredups:erasedups												# Ignore duplicates in the history
export HISTTIMEFORMAT="%Y/%m/%d %H:%M:%S:   "
export HISTIGNORE="cd:cd -:pwd;exit:date:* --help"										# Make some commands not show up in history

# NodeJS Configuration
export NODE_REPL_HISTORY=~/.node_history;															# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY_SIZE='32768';																# Allow 32³ entries; the default is 1000.
export NODE_REPL_MODE='sloppy';																				# Use sloppy mode by default, matching web browsers.

export GREP_OPTIONS='--color=auto'
export CLICOLOR=1
export TERM='xterm-256color'

# FZF
if command -v fd > /dev/null; then
  export FZF_DEFAULT_COMMAND='fd --type f --hidden --follow --exclude .git'
  export FZF_ALT_C_COMMAND='fd --type d --hidden --follow --exclude .git'
  export FZF_CTRL_T_COMMAND='fd --type f --type d --hidden --follow --exclude .git'
elif [ -x "$(command -v rg)" ]; then
  export FZF_DEFAULT_COMMAND='rg --files'
elif [ -x "$(command -v ag)" ]; then
  export FZF_DEFAULT_COMMAND='ag --hidden --ignore .git -g ""'
else
  export FZF_DEFAULT_COMMAND='find . -type d \( -path '*\.git*' -o -path '*node_modules*' \) -prune -o -print'
  export FZF_CTRL_T_COMMAND='find . -type f -not -path "*.\git*" -not -path "*node_modules*"'
fi

command -v bat  > /dev/null && export FZF_CTRL_T_OPTS="--preview 'bat -n --color=always {}'"
command -v blsd > /dev/null && export FZF_ALT_C_COMMAND='blsd'
command -v tree > /dev/null && export FZF_ALT_C_OPTS="--preview 'tree -C {} | head -200'"

# JAVA
export JAVA_HOME=$(/usr/libexec/java_home) #TODO: Do I need this knowing that I have `jenv`

export PATH=~/.local/share/bob/nvim-bin:/opt/homebrew/bin:/bin:/sbin:/usr/local/bin:/usr/bin:/usr/sbin:/usr/local/sbin:/usr/local/opt/libpq/bin:$PSQL:$GOPATH/bin:$GOROOT/bin:$SCRIPT_HOME:$M2_HOME/bin:$PATH
