" Shamelessly copied from https://github.com/junegunn/dotfiles/blob/master/ideavimrc
" consider checking this out: https://github.com/OptimusCrime/ideavim/blob/master/ideavimrc

" register leader
let mapleader = ','

set number
set relativenumber
set incsearch
set hlsearch | nohlsearch
set ignorecase smartcase
set clipboard=unnamed
set visualbell
set scrolloff=5
set showcmd
set showmode
set history=1000
set ideastatusicon=gray
set idearefactormode=normal

" extensions
set surround
set easymotion
set commentary
set highlightedyank
" set multiple-cursors
" set NERDTree
" set argtextobj
" set sneak
" set quickscope

" Center screen when jumping to next match
nnoremap n nzz
nnoremap N Nzz
vnoremap n nzz
vnoremap N Nzz

" Center screen when moving up and down
nnoremap <C-u> <C-u>zz
nnoremap <C-o> <C-d>zz
vnoremap <C-u> <C-u>zz
vnoremap <C-o> <C-d>zz

" easy window navigation
" nnoremap <a-k> gT
" nnoremap <a-j> gt
" nnoremap <c-s-tab> gT
" nnoremap <c-tab> gt

inoremap jk <Esc>
vnoremap jk <Esc>

noremap  <c-f> <c-d>
noremap  <c-b> <c-u>
nnoremap <c-p> <c-i>
nnoremap <tab> <c-w>w

nnoremap Y y$
nnoremap Q @q
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap ]c :action VcsShowNextChangeMarker<cr>
nnoremap gcc :action CommentByLineComment<cr>

nnoremap <leader>s :source ~/.ideavimrc<CR>
nnoremap <leader>fu :action FindUsages<cr>
nnoremap <leader>su :action ShowUsages<cr>
nnoremap <leader>cv :action ChangeView<cr>
nnoremap <leader>bb :action ToggleLineBreakpoint<cr>
nnoremap <leader>br :action ViewBreakpoints<cr>
nnoremap <leader>ic :action InspectCode<cr>
nnoremap <leader>oi :action OptimizeImports<cr>
nnoremap <leader>re :action RenameElement<cr>
nnoremap <leader>rf :action RenameFile<cr>
nnoremap <leader>mv :action ActivateMavenProjectsToolWindow<cr>
nnoremap <leader>dc :action ChooseDebugConfiguration<cr>
nnoremap <leader>rc :action ChooseRunConfiguration<cr>
nnoremap <leader>q  :action CloseActiveTab<cr>
nnoremap <leader>gi :action GotoImplementation<cr>
nnoremap <leader>gs :action GotoSuperMethod<cr>
nnoremap <leader>gd :action GotoDeclaration<cr>
nnoremap <leader>gt :action GotoTest<cr>
nnoremap <leader>gr :action GotoRelated<cr>
nnoremap <leader>gb :action Annotate<cr>
nnoremap <leader>tl Vy<cr>:action ActivateTerminalToolWindow<cr>
vnoremap <leader>tl y<cr>:action ActivateTerminalToolWindow<cr>
nnoremap ]e :action GotoNextError<cr>
nnoremap [e :action GotoPreviousError<cr>
map <leader><leader>c <Plug>(easymotion-s))
map <leader><leader>e <Plug>(easymotion-f))

" Cursive
nnoremap <leader>W :action :cursive.actions.paredit/wrap-paren<cr>
nnoremap <leader>w[ :action :cursive.actions.paredit/wrap-square<cr>
nnoremap <leader>w{ :action :cursive.actions.paredit/wrap-curly<cr>
nnoremap <leader>w" :action :cursive.actions.paredit/wrap-quotes<cr>
nnoremap <leader>< :action :cursive.actions.paredit/barf-forwards<cr>
nnoremap <leader>> :action :cursive.actions.paredit/slurp-forwards<cr>
